<footer class="footer">
    <div class="container footer-container">
        <div class="footer-wrapper">
        <div class="footer-link-wrapper">
            <p class="footer-link-text">For questions, comments, or support:
</p>
        <a class="footer-link-mail"
            href="mailto:info@wideledger.space">
           <p>info@wideledger.space</p>
        </a></div>
        <ul class="footer-navigation">
            <li class="footer-link">
                <a class="footer-underline" href="privacy.html">Privacy Policy</a>
            </li>
            <li class="footer-link">
                <a class="footer-underline" href="terms.html">Terms and Conditions</a>
            </li>
            <li class="footer-link">
                <a class="footer-underline" href="cookies.html">Cookies Policy</a>
            </li>
        </ul></div>
        <p class="footer-text">© 2026 Jigsaw Puzzles – Daily Puzzle. All rights reserved.</p>
    </div>
</footer>