<header class="header" id="site-header">
    <div class="header-container container">
        <a class="header-logo" href="./#home">
            <img src="/img/header/logo.png" alt="Logo" loading="lazy">
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M34 30L10 30" stroke="#122B48" stroke-width="2" stroke-linecap="round" />
    <path d="M34 22L10 22" stroke="#122B48" stroke-width="2" stroke-linecap="round" />
    <path d="M34 14L10 14" stroke="#122B48" stroke-width="2" stroke-linecap="round" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#select">Features</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#free">Daily Puzzle</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#customize">Customization</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#home">Home</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#select">Features</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#free">Daily Puzzle</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#customize">Customization</a>
        </li>
    </ul>
</div>