<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
        <h1 class="home-title">Jigsaw Puzzles –
        Daily Puzzle</h1>
        <h2 class="home-subtitle">Relax. Assemble. Enjoy Every Piece.</h2>
        <p>Got puzzles for everyone here - from beginners to those masochists who actually enjoy 1000-piece nightmares. Whether you
        enjoy small, simple layouts or massive 625-piece challenges, Jigsaw Puzzles – Daily Puzzle gives you full control over
        your experience.<br/>
        Choose your difficulty, customize your environment, and get absorbed in some gorgeous artwork that'll keep you hooked.
        Play casually for a few minutes or immerse yourself in a long, satisfying puzzle session.<br />
        Great for anyone who needs to decompress after a long day or just wants something relaxing to do.
</p>
</div>
<img class="home-img" src="/img/home/home.png" alt="Puzzle" loading="lazy">
    </div>
</section>