.footer {
background: #122b48;
}
.footer-container{
  padding: 40px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-link-wrapper{
  font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}
.footer-link-mail{
  font-weight: 400;
    font-size: 16px;
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}
.footer-text{
  font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.5;
    text-align: right;
    color: #fff;
}
.footer-wrapper{
  display: flex;
flex-direction: column;
gap: 40px;
}
@media only screen and (min-width: 1440px) {
  .footer-container{
    padding-left: 160px;
    padding-right: 160px;
  }
  .footer-wrapper{
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-link-wrapper{
    font-size: 20px;
  }
  .footer-link-mail{
    font-size: 18px;
  }
    .footer-navigation{
      font-size: 18px;
      align-items: end;
    }
  .footer-text{
    font-size: 12px;
  }
}