.home-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.home-title{
    font-family: "Zen Maru Gothic", sans-serif;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.2;
        color: #2d7ad8;
        text-shadow:
                2px 2px 0 #fff,
                -2px 2px 0 #fff,
                2px -2px 0 #fff,
                -2px -2px 0 #fff,
                3px 0 0 #fff,
                -3px 0 0 #fff,
                0 3px 0 #fff,
                0 -3px 0 #fff;
}
.home-subtitle{
    margin-top: 24px;
    font-family: "Zen Maru Gothic", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.3;
        color: #122b48;
        margin-bottom: 48px;
}
.home-img{
    display: none;
}
@media only screen and (min-width: 1440px) {
.home-img {
        display: block;
width: 543px;
    height: 541px;
    }
.home-container{
    display: flex;
    align-items: center;
    gap: 32px;
    padding-top: 100px;
}
.home-wrapper{
    width: 544px;
    margin-top: 0;
}
.home-title{
    font-size: 72px;
}
.home-subtitle{
font-size: 28px;
}
}
/* Select Your Difficulty */
.select-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
@media only screen and (min-width: 1440px) {
 .select-container{
    flex-direction: row;
    align-items: center;
 }
 .select-wrapper{
    width: 580px;
 }
}
/* Customize Your Puzzle Experience */
.customize-list{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    padding-left: 30px;
}
.customize-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
@media only screen and (min-width: 1440px) {
.customize-wrapper{
    width: 544px;
}
.customize-container{
    flex-direction: row-reverse;
    gap: 100px;
    justify-content: center;
}
}